.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  min-height: 100vh;
  background-color:rgb(226, 232, 238);
}

.App-header {
  background-color: #3682e6;
  align-items: center;
  text-align:left;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: calc(10px + 2vmin);
  height: 80px;
  display:flex;
  justify-content:space-between;
  font-weight: bold;
  border: 2px solid rgb(99, 97, 97);
}

.homeTitle {
  text-align: left;
  padding-top: 25px;
  padding-left: 10px;
}

.formAndTodo {
  padding: 20px;
}

.hideSwitch {
  font-size: 20px;
  font-weight: bold;
  color: rgb(224, 217, 217);

}

